/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #000;
  --color-dark-grey: #404040;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-indigo: #000b27;
  --color-dark-blue: #091949;
  --color-blue: #1a18c0;
  --color-yellow: #fff7d1;
  --color-orange: #e99a23;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bolder: 800;
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 500;
  --weight-light: 400;
  --weight-lighter: 300;

  /* Size */
  --size-border-radius: 4px;

  --animation-duration: 300ms;
}

/* Universal Tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-dark-blue);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

.navbar__logo--bwr {
  width: 25px;
  height: 25px;
  position: relative;
  top: 2.5px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-white);
  align-items: center;
  color: var(--color-black);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 2px solid var(--color-dark-blue);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-blue);
  color: var(--color-light-white);
}

/* Home */
#home {
  background: url("imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 65px auto;
  max-width: 960px;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-dark-blue);
  border: 2px solid var(--color-dark-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__title {
  font-weight: var(--weight-bold);
}

.major__icon i {
  transition: all 250ms ease;
}

.major__icon:hover i {
  color: var(--color-orange);
  transform: rotate(-22.5deg) scale(1.1);
}

.major__description {
  font-size: var(--font-small);
  margin-top: 8px;
}

.about__jobs {
  display: flex;
  justify-content: center;
}

.job {
  display: flex;
  align-items: center;
  margin: 0 0 10px 80px;
}

.job1__logo {
  width: 40px;
  height: 40px;
  text-align: center;
}

.job2__logo {
  width: 46px;
  height: 46px;
  text-align: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
}

.job__period {
  font-size: var(--font-micro);
  color: var(--color-grey);
}

/* Skill */

#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
  margin-bottom: 8px;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 24px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 16px;
}

.tools__list li,
.etc__list li {
  margin: 3px 0;
  font-size: var(--font-regular);
}

.skillset__title {
  font-size: var(--font-medium);
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-blue);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__name {
  color: var(--color-dark-blue);
  font-weight: var(--weight-semi-bold);
  position: relative;
  left: 10px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-dark-blue);
  color: var(--color-light-white);
}

.category__btn.active .category__name,
.category__btn:hover .category__name {
  color: var(--color-light-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
  background-color: var(--color-light-white);
  color: var(--color-dark-blue);
}

.category__count {
  background-color: var(--color-dark-blue);
  border-radius: 50%;
  color: var(--color-light-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  line-height: 24px;
  top: -20px;
  left: 25px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 280px;
  height: 150px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project .project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(15px);
  transition: all var(--animation-duration) ease-out;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3,
span {
  color: var(--color-light-white);
}

.project__description span {
  font-size: var(--font-micro);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-light-white);
}
